.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	color: #fff;
}

.navLinks {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 16px;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}
.menuButton {
	display: none;
}
.menuLinks {
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.menuLinks a,
.navLinks a {
	color: #fff;
	text-decoration: none;
}

.menuLink {
	display: block;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #444;
	padding: 1rem 4rem;
	transition: background-color 0.2s ease;
}

.menuLink a::after,
.navLinks a::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.1s ease;
}

.menuLink a:hover::after,
.navLinks a:hover::after {
	transform: scaleX(1);
}

@media (max-width: 768px) {
	.menuButton {
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
	}

	.menu {
		position: absolute;
		top: 59px;
		right: -16px;
		background-color: #253044;
		border: 1px solid #444;
	}
}
